script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
link(rel="stylesheet", type = 'text/css', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
link(rel="stylesheet", type = 'text/css' ,href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")
link(type='text/css', rel='stylesheet' ,href='/css/style.css')
script(src='/js/ajaxLoader.js')
script(src='http://underscorejs.org/underscore-min.js')
title Register - Intuit