nav(class="navbar navbar-default", role="navigation")
   .container
      .navbar-collapse.collapse
         ul.nav.navbar-nav
            li(role="presentation")
               a(class="navbar-brand" href="#") eCommIT
            li(role="presentation")
               a(href='/logout') Logout
