nav(class="navbar navbar-default", role="navigation")
   .container
      .navbar-collapse.collapse
         ul.nav.navbar-nav
            li(role="presentation")
               a(class="navbar-brand" href="#") Intuit
            li(role="presentation")
               a(href='/myFeed') My Feed
            li(role="presentation")
               a(href='/logout') Logout
            li(role="presentation")
               a(href='/register') Register
            li(role="presentation")
               a(href='/login') Login


