doctype html
html(lang="en")
	head
		include ./head.jade
body
	.container
		include ./nav.jade
		form.form-signin(action='addUser', method='POST')
			div.form-group
				h2.form-signin-heading Please sign up
				input.form-control.input-block-level(type='text', name = 'name', placeholder='Your name')
				input.form-control.input-block-level(type='text', name = 'email', placeholder='Email address')
				input.form-control.input-block-level(type='password', name = 'password' , placeholder='Password')
				input.form-control.input-block-level(type='password', name = 'confirmPassword' , placeholder='Confirm password')
				button.btn.btn-large.btn-primary(type='submit') Sign up!